<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../client.styles.css" rel="stylesheet" media="screen">
<body>

    <div id="ui-progress">

        <ul id="screen-names" class="col-xs-12">
            <li style="width: 25%">SETTINGS</li>
            <li style="width: 30%">DASHBOARD</li>
            <li style="width: 20%">BROWSER</li>
            <li style="width: 25%">PROFILE</li>
        </ul>

        <div class="progress">



          <div class="progress-bar green-bg active-bar"  style="width: 25%" data-order='0'>
          </div>

          <div class="progress-bar red-bg"  style="width: 30%" data-order='1'>

          </div>

          <div class="progress-bar purple-bg"  style="width: 20%" data-order='2'>
          </div>

          <div class="progress-bar yellow-bg"  style="width: 25%" data-order='3'>
          </div>

        </div>


    </div>

    <div id="main" class='screen' data-screen='Dashboard'>


        <ul id="screens"></ul>
        <div id="appendices"></div>



    </div>

    <div id="ui-notifications"></div>



    <script src="../client.build.js"></script>
</body>
</html>
