<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../client.styles.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="./ignite.js"></script>
</head>
<body>
    <div id="main" class='screen' data-screen='Dashboard'>
        <ul id="screens"></ul>
        <div id="appendices"></div> 
    </div>
    <script src="../client.build.js"></script>
</body>
</html>