@table-bg: #080808;
@gray-darker: #080808;
@brand-success: @gray-darker;

/* Section
-------------------------------------------------- */

hr.mute {
    border-color:@gray-darker !important;
    height:0.5px !important;
}